body {
    background-color: #1f2937;
    color: #F9FAF8;
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a, .secondary-text {
    color: #E5E7EB;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    border: black solid;
    max-height: 80px;
    justify-content: center;
    font-size: 24px;
}

.header-content, .content1 {
    display: flex;
    min-width: 800px;
    max-width: 1400px;
    border: red solid;
    justify-content: space-between;
    align-items: center;
}

.h-links {
    display: flex;
    margin: 10px;
    gap: 10px;
    font-size: 18px;
}

.content {
    display: flex;
    flex-flow: column;
    border: black solid;
    align-items: center;
}

.content img {
    height: 300px;
    border-radius: 20%;
}

.content1-text {
    display: flex;
    flex-flow: column;
    gap: 10px;
    max-width: 400px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    font-size: 18px;
    max-width: max-content;
    padding: 10px 25px;
    border-radius: 10%;
}

.content2-head {
    display: flex;
    justify-content: center;
    margin: 12px;
}

.content2-container {
    display: flex;
    justify-content: center;
    gap: 52px
}

.content2-container img {
    height: 120px;
    width: 120px;
}